*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    list-style: none;
}
ul {
    list-style: none;
    text-decoration: none;
}
